@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$light-color: white;
$accent-color: #65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;
$gray-color: #9191b5;

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}
h3 {
    font-size: 24px;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 24px;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    ;
}

.page-main {
    background-image: url(../img/bg-main.png);
    background-repeat: no-repeat;  
    background-size: cover;
    color: $light-color;
    padding-bottom: 158px;
}

.page {
    padding-top: 161px;
    padding-bottom: 160px;
    position: relative;
    &_gray {
        background-color: $bg-light-color;
    }
    &__title {
        font-size: 48px;
        text-align: center;
        margin-bottom: 26px;
        letter-spacing: 2px;
        &-gray{
            margin-top: 5px;
        }
        &-cont {
            margin-top: 2px;
        }
    }
    &__subtitle {
        color: #65e496;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.77px;
        padding-left: 0px;
        &-cont {
            margin-top: 2px;
        }

    }
    &__sub {
        color: #65e496;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.77px;
        padding-left: 0px;
        margin-bottom: 84px;
    }
    &__btn{
        background: linear-gradient(to bottom right, #65e49c, #65e4b0);
        border: none;
        color: white;
        text-decoration: none;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        margin: 0 auto;
        display: block;
        max-width: 220px;
        margin-top: -13px;
        padding: 14px 0px;
        letter-spacing: 0.7px;
        box-shadow: 0 -2px #adedbb inset;
        &-blog {
            max-width: 265px;
            margin-bottom: -4px;
        }
    }
    &__svg {
        position: absolute;
        top: -2px;
        width: 100%;
        z-index: -1;
    }
    &_emma {
        margin-bottom: -34px;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Open Sans', serif;
    padding: 40px 15px 179px 15px;
    @media(max-width:920px) {
        flex-direction: column;
    }
    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        padding-top: 4px;
        &__item {
            margin-left: 21px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            &:hover {
                border-bottom: 3px solid $accent-color;
            }
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            color: $light-color;
            text-decoration: none;
            letter-spacing: 1.2px;
        }
    }
}
.block-text {
    flex-basis: calc(93% - 500px);
    margin-right: 82px;
    @media(max-width:1020px) {
        flex-basis: calc(93% - 315px);
    }
    &__name{
        font-family: 'Open Sans', serif;  
        font-size: 18px;
        letter-spacing: 0.85px;
        margin-bottom: 28px;
        margin-top: 1px;
    }
    &__name_top {
        margin-top: 16px;
        margin-left: 0;
        margin-bottom: 18px;
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.8px;
        margin-bottom: 37px;
        line-height: 53px;
        span {
            display: block;
            color: $accent-color;
            font-size: 18px;
            margin-top:12px;
            letter-spacing: 1.2px;
            font-weight: 400;
            line-height: 23px;
        }
        &-emma {
            letter-spacing: 1.5px;
        }
    }
    &__description {
        font-family: 'Open Sans', serif;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 27px;
        letter-spacing: 0.75px;
    }
    &__btn {
        display: block;
        background: linear-gradient(to bottom right, #65e49c, #65e4b0);
        color: $light-color;
        text-decoration: none;
        max-width: 250px;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        margin-top: 44px;
        padding: 11px 0 15px 0;
        letter-spacing: 0.7px;
        margin-bottom: 16px;
        box-shadow: 0 -2px #adedbb inset;
        &-bio {
            margin-top: 47px;
            max-width: 238px;
        }
        
    }
    &__btn--main {
        box-shadow: 0 -2px #59ba88 inset;
        margin-top: 47px;
    }
    &__small {
        font-style: italic;
        letter-spacing: 0.3px;
        font-weight: 100;
        font-size: 12px;
        margin-left: -3px;
    }
    &-item{
        margin-bottom: 55px;
        margin-left: -3px;
        &__date{
            font-size: 15px;
            font-family: 'Open Sans', serif;
            letter-spacing: 0.8px;
            margin-bottom: 4px;
        }
        &__title{
            font-size: 18px;
            letter-spacing: 1.2px;
            margin-bottom: 16px;
        }
        &__desc{
            font-size: 15px;
            font-family: 'Open Sans', serif;
            letter-spacing: 0.8px;
            padding-top: 4px;
        }
        &__btn {
            display: block;
            background: linear-gradient(to bottom right, #65e49c, #65e4b0);
            color: white;
            text-decoration: none;
            max-width: 133px;
            border-radius: 3px;
            text-align: center;
            font-size: 18px;
            margin-top: 26px;
            padding: 11px 0px 15px 6px;
            letter-spacing: 1.2px;
            margin-bottom: 14px;
            box-shadow: 0 -2px #adedbb inset;
        }
    }
    &--width{
        margin-right: 0px;
        flex-basis: calc(93% - 520px);
        margin-top: -20px;
        @media(max-width: 1020px) {
            flex-basis: calc(93% - 315px);
        }
    }
}
.block-book{
    display: flex;
    justify-content: space-between;
    @media(max-width:1020px) {
        flex-direction: column-reverse;
    }
    &-demo{
        display: block;
        position: relative;
        width: 447px;
        height: 643px;
        background-image: url(../img/book.svg);
        background-repeat: no-repeat;
        flex-basis: 447px;
        justify-content: flex-start;
        @media(max-width:1020px) {
            margin: 0 auto 50px;
        }
        &--margin {
            margin-right: 15px;
        }
        &__title{
            font-size: 36px;
            text-transform: uppercase;
            position: absolute;
            left: 131px;
            top: 118px;
            letter-spacing: 1px;
            span{
                font-family: 'Open Sans', serif;
                font-size: 14px;
                color: $accent-color;
                display: block;
                text-transform: initial;
                margin-top: 10px;
                letter-spacing: 0.9px;
                font-weight: 300;
            }
        }
        &__author {
            font-family: 'Open Sans', serif;
            font-size: 14px;
            color: $accent-color;  
            position: absolute;
            bottom: 56px;
            left: 85px;
            letter-spacing: 0.7px;
        }
    }
}
.block-author {
    display: flex;
    justify-content: space-between;
    @media(max-width:850px) {
        flex-direction: column-reverse;
    }
}

.block-ava {
    position: relative;
    &__svg {
        position: absolute;
        right: 0;
        z-index: -1; 
        @media(max-width:1020px) {
            width: 300px;
            height: 412px;
        } 
    }        
    &__svg--left {
        right: inherit;
        left: 0;
    }
    &__img {
        margin-top: 45px;
        margin-right: 46px;
        @media(max-width:1020px) {
            width: 300px;;
        }
    }
    &__img--left{
        margin-top: 49px;
        margin-left: 51px;
        margin-right: 0;
    }
}
.block-counter {
    display: flex;
    justify-content: space-between;
    margin: 213px auto 0 auto;
    max-width: 85%;
    @media(max-width:750px) {
        flex-direction: column;
    }
    p {
        font-family: 'Open Sans', serif; 
        text-align: center;
        font-size: 18px;
        @media(max-width:750px) {
            margin-bottom: 80px;
        }
        span {
            font-family: 'Roboto Slab', serif;
            display: block;
            font-weight: 100;
            font-size: 80px;
            color: $accent-color;
            margin-bottom: 45px;
        }
    }
}

.block-about {
    display: flex;
    justify-content: space-between;
    margin-top: 82px;
    margin-bottom: 72px;
    @media(max-width:1020px) {
        max-width: 750px;
        margin: 82px auto 0;
        flex-direction: column;
    }
    h3 {
        margin-bottom: 20px;
        letter-spacing: 1.2px;
    }
    &-text {
        flex-basis: calc(100% - 690px);
        &__desk {
        font-family: 'Open Sans', serif;
        letter-spacing: 0.8px;
        margin-top: 24px;
        line-height: 24px;
        }
    }
    &-table {
        flex-basis: 570px;
        &__list {
            margin: 25px 0 0 0;
            padding: 0;
            counter-reset: list;
            column-count: 2;
            line-height: 25px;
            column-gap: 19px;
            &>li {
                position: relative;
                padding-left: 36px;
                counter-increment: list;
                list-style-type: none;
                margin-bottom: 8px;
                letter-spacing: 0.7px;
                &::before {
                    content: counter(list) ". ";
                }
                &::after {
                    content: "+";
                    font-family: 'Open Sans', serif;
                    font-size: 15px;
                    line-height: 22px;
                    position: absolute;
                    left: 0;
                    top: calc(50% - 11px);
                    background-color: #5fc9b3;
                    color: $light-color;
                    padding: 0px 7px;
                }
            }
        }
        &__btn {
            background: linear-gradient(to bottom right, #65e49c, #65e4b0);
            border: none;
            color: $light-color;
            text-decoration: none;
            border-radius: 3px;
            text-align: center;
            font-size: 18px;
            margin-top: 28px;
            padding: 14px 45px;
            letter-spacing: 0.7px;
            margin-bottom: 19px;
            box-shadow: 0 -2px #adedbb inset;
        }
    }
    &-social {
        display: flex;
        align-items: center;
        margin-top: 31px;
        &__title {
            font-family: 'Roboto Slab', serif;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.9px;
        }
        &__list {
            list-style-type: none;
            padding-left: 23px;
            &>li {
                display: inline-block;
                font-size: 18px;
                vertical-align: middle;
                margin-right: 12px;
                &>a {
                    color: $accent-color;
                     
                }
            }
        }
    }
}
.block-product {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
    @media(max-width:1020px) {
        flex-direction: column;
    }
    &-demo {
        margin: 0 auto;
        background-image: url(../img/book.svg);
        background-repeat: no-repeat;
        width: 270px;
        height: 412px;
        position: relative;
        margin-bottom: 30px;
        &__title {
            color: white;
            position: absolute;
            left: 73px;
            top: 70px;
            font-family: 'Roboto Slab', serif;
            text-transform: uppercase;
            letter-spacing: 1.7px;
            span{
                color: #65e496;
                display: block;
                font-size: 12px;
                font-family: 'Open Sans', serif;
                text-transform: initial;
                font-weight: 300;
                line-height: 37px;
                letter-spacing: 0.7px;
            }
        }
        &__author {
            color: #65e496;
            position: absolute;
            bottom: 30px;
            left: 73px;
            font-size: 12px;
            font-family: 'Open Sans', serif;
            letter-spacing: 0.6px;
        }
    } 
    &-text {
        text-align: center;
        margin-top: 33px;
        margin-bottom: 95px;
        &>h3 {
            margin-bottom: 16px;
            letter-spacing: 1.9px;
        }
        p{
            letter-spacing: 1px;
            margin-bottom: 17px;
            line-height: 25px;
        }    
        a {
            text-decoration: none;
            color: $accent-color;
            font-family: 'Open Sans', serif;
        }  
    }
}
.block-blog {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 1px;
    @media(max-width:1150px) {
        flex-direction: column;
    }
    h4 {
        font-size: 17px;
        letter-spacing: 0.9px;
        margin-bottom: 1px;
    }
    &-img{
        width: 360px;
        height: 224px;
        overflow: hidden;
        position: relative;
        margin-bottom: 18px;
        img{
            width: 360px;
            height: 224px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
    h4{
        margin-bottom: 1px;
    }
    &-info {
        font-size: 15px;
        display: flex;
        letter-spacing: 0.8px;
        margin-bottom: 13px;
        a{
            color: $accent-color;
            text-decoration: none;
        }
    }
    &__desc{
        font-size: 15px;
        font-family: 'Open Sans', serif;
        margin-bottom: 96px;
        letter-spacing: 0.7px;
        width: 369px;
        line-height: 24px;
    }
    & + page__btn {
        display: block;
        margin: 84px auto 0;
        padding: 20px 0;
        width: 262px;
        height: 48px;
        letter-spacing: 1px;
    }
    &-item {
        flex-basis: 33%;
        margin: 0 auto;
        @media(max-width:1150px) {
            flex-basis: 100%;
            justify-content: stretch;
        }
    }
}
.block-letter {
    display: flex;
    justify-content: space-between;
    margin-bottom: -14px;
    margin-top: 3px;
    &-item {
        flex-basis: 49%;
    }
    &__title{
        font-size: 48px;
        margin-bottom: 27px;
        letter-spacing: 2px;
        padding-top: 2px;
    }
    &__text{
        font-size: 15px;
        font-family: 'Open Sans', serif;
        letter-spacing: 0.75px;
    }
    &__input {
        width: 100%;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: $bg-dark-color;  
        border: none;
        color: $gray-color;
        padding: 15px 30px;
        letter-spacing: 0.6px;
        margin-top: -3px;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: $gray-color;
        }
    } 
    &__btn{
        background: linear-gradient(to bottom right, #65e49c, #65e4b0);
        border: none;
        color: $light-color;
        text-decoration: none;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        margin-top: 21px;
        padding: 14px 0px;
        letter-spacing: 0.7px;
        box-shadow: 0 -2px #adedbb inset;
        display: block;
        width: 100%;
        &:focus {
            outline: none;
        }
    }

}
.footer {
    background-color: $bg-dark-color;
    color: $gray-color;
    padding-bottom: 150px;
}
.block-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 160px;
    margin-top: 8px;
    line-height: 25px;
    font-size: 14px;
    &__copy{
        flex-basis: 33%;
        p{
            letter-spacing: 0.4px;
            line-height: 24px;
            font-size: 15px;
        }
    }
    &__cr{
        margin-top: 24px;
    }
    &__info{
        flex-basis: 23%;
        padding-top: 3px;
        font-size: 14px;
        line-height: 26px;

    }
    h2{
        text-transform: uppercase;
        padding-top: 7px;
        margin-right: 41px;
        letter-spacing: 0.8px;
        margin-bottom: 17px;
        letter-spacing: 1.3px;
    }
    &>div{
        justify-content: space-between;
    }
    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/footer-logo.svg);
        background-repeat: no-repeat;
        padding-top: 28px;
    }
    &__title{
        font-size: 17px;
        color: $accent-color;
    }
    &__list{
        list-style-type: none;
        padding-left: 0;
        line-height: 28px;
        letter-spacing: 0.7px;
        &-li {
            letter-spacing: 0.6px;
            margin-left: -2px;
        }
    }

    &__right{
        margin-left: 29px;
    }
    &__social{
        display: flex;
        list-style-type: none;
        padding-left: 0;
        line-height: 28px;
        margin-top: 13px;
        margin-left: -2px;
        &>li{
            margin-right: 10px;
            margin-top: -4px;
            &>a{
                color: $accent-color;
                letter-spacing: 2.5px;
            }     
        }
    }
}
.block-carousel {
    text-align: center;
    margin-bottom: 60px;
    h3{
        color: $accent-color;
        margin-bottom: 4px;
        letter-spacing: 1px;
    }
    &__desc{
        color: $gray-color;
        font-family: 'Open Sans', serif;
        max-width: 760px;
        margin: 0 auto;
        line-height: 27px;
        letter-spacing: 0.75px;
    }
    &__expert{
        margin-bottom: 34px;
        letter-spacing: 1px;
    }
    &-ava{
        position: relative;
        width: 152px;
        height: 152px;
        display: block;
        margin: 0 auto 24px;
        padding-top: 63px;
    }
    &-bq {
        position: absolute;
        display: block;
        background-image: url(../img/bq.png);
        background-repeat: no-repeat;
        width: 48px;
        height: 42px;
        top: 60px;
        right: -15px;
    }
    &-thumb {
        display: block;
        margin: 0 auto 0;
        position: relative;
        overflow: hidden;
        width: 152px;
        height: 152px;
        border-radius: 100%;
        img {
            width: 152px;
            height: 152px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
}
.slick-dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    &>li{
        margin: 0 5px;
        &>button{
            text-indent: -9999px;
            width: 8px;
            height: 8px;
            border: none;
            background-color: $accent-color;
            border-radius: 100%;
            line-height: 0;
            font-size: 0;
            cursor: pointer;
            padding: 5px;
            &:focus {
                outline: none;
            }
        }
    }
    &>li.slick-active {
        &>button {
            width: 37px;
            border-radius: 10px;
        }
    }
}