<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i|Roboto+Slab:100,400,700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/8af036d04a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <div class="page-main">
            <header>
                <div class="header">
                    <a href="" class="header__logo"></a>
                    <ul class="header-list">
                        <li class="header-list__item active"><a href="" class="header-list__link">Home</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">About</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Contents</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Books</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Education</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Skills</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Portfolio</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Clients</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Contact</a></li>
                    </ul>
                </div>  
            </header>

            <div class="wrap">
                    <div class="block-book">
                        <div class="block-book-demo">
                            <h2 class="block-book-demo__title">
                                Good book
                                <span>Don't judge a book by its cover</span>
                            </h2>
                            <p class="block-book-demo__author">- By Emma Anderson</p>

                        </div>
                        <div class="block-text">
                            <p class="block-text__name">- By Emma Anderson</p>
                            <h1 class="block-text__title">BUKEE: THE BOOK <span>A room without books is like a body without a soul</span></h1>
                            <p class="block-text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p> 
                            <p class="block-text__description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut</p>
                            <a href="" class="block-text__btn">Buy this book - $15.00	</a>
                            <small class="block-text__small">* Some conditions may applicable</small>
                        </div>
                    </div>
            </div>
        </div>

        <div class="page">
            <div class="wrap">
                <div class="block-author">
                    <div class="block-text">
                        <p class="block-text__name block-text__name_top">- Book Author</p>   
                        <h2 class="block-text__title">Emma Anderson <span>A room without books is like a body without a soul</span></h2>
                        <p class="block-text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <p class="block-text__description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut</p>
                        <a href="" class="block-text__btn">Read full biography	</a> 
                    </div>  
                    <div class="block-ava">
                        <svg class="block-ava__svg" width="435" height="558">
                            <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="435" y2="558">
                                <stop offset="0" style="stop-color: #446a87"/>
                                <stop offset="1" style="stop-color: #59c2ae"/>
                            </linearGradient>
                            <rect width="435" height="558" x="0" y="0" fill="url(#gradient)"></rect>
                        </svg>
                        <img class="block-ava__img" src="../img/avatar.jpg">
                    </div>   
                </div> 

                <div class="block-counter">
                        <p><span>12</span>Total published books</p>
                        <p><span>5</span>Sest selling book</p>
                        <p><span>15,000</span>Happy readers</p>
                </div>
            </div>
        </div> 

        <div class="page page_gray">
            <div class="wrap">
                <h2 class="page__title">Book Contents </h2> 
                <p class="page__subtitle">Let’s see what we have covered in the book </p>
                <div class="block-about">
                    <div class="block-about-text">
                        <h3>About the book</h3>
                        <p class="block-about-text__desk">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur. </p>
                        <div class="block-about-social">
                            <p class="block-about-social__title">Featured in:</p>
                            <ul class="block-about-social__list">
                                <li><a href=""><i class="fab fa-stack-overflow"></i></a></li>
                                <li><a href=""><i class="fab fa-amazon"></i></a></li>
                                <li><a href=""><i class="fab fa-sass"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block-about-table">
                        <h3>Table of contents</h3>
                        <ol class="block-about-table__list">
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipisicing elit</li>
                            <li>Labore et dolore magna</li>
                            <li>Consectetur adipisicing elit</li>
                            <li>Labore et dolore magna</li>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipisicing elit</li>
                            <li>Labore et dolore magna</li>
                            <li>Consectetur adipisicing elit</li>
                            <li>Labore et dolore magna</li>
                        </ol>
                        <button class="block-about-table__btn">More</button>
                    </div>
                </div>
        </div> 
        
    <script src="../js/main.js"></script>
    </body>
</html>